
.AboutMe {
  background-color:rgb(55,55,55);
  min-height: 60vh;
  padding-top: 5vh;
}

.AboutMe h1 {
  font-size: 50px;
  color: white;
  text-align: center;
  margin-top: 0;
}

.intro-content  {
  width: 100%;
  padding-bottom: 80px;
}
.content-block {
  padding: 40px 0;
}
.content-block .figure {
  margin-left: 2vw;
  margin-right: 2vw;
  float: left;
}

.about-block p {
  font-family: Georgia, 'Times New Roman' sans-serif;
  clear: none;
}

.wrapper {
  margin: 40px;
}
.style-2 {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.style-2 p {
  color: white;
  font-size: 22px;
  margin-right: 2vw;
  margin-left: 8vw;
  
}

.style-2 h2 {
  font-size: 28px;
  color: rgb(1,169,247);
}

.AboutMe img {
  position: relative;
  border: 20px solid grey;
border-radius: 4px;
height: 8vh;
-webkit-box-shadow: 8px 9px 3px -4px rgba(0,0,0,0.53); 
box-shadow: 8px 9px 3px -4px rgba(0,0,0,0.53);
z-index: 0;
}
