
.ProjectBox h1 {
  font-size: 50px;
  margin-top: 0;
}

.ProjectBox {
    background-color: rgb(2,87,122);
    min-height: 50vh;
    text-align: center;
}

.box-container {
    position: relative;
    top: 30%;
}

.portfolio-header {
      font-size: 50px;
      color: white;
      padding: 5vh;
}

.project-cards {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}