.App {
  /* text-align: center; */
  width: 60vw;
  margin: 0 auto;
}

.fullPageDiv {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

@media screen and (max-width: 1024px){
  .App {
    width: 80vw;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px){
  .App {
    width: 100vw;
    margin: 0 auto;
  }
}



